{% extends 'base.html.twig' %}

{% block title %}
    Hello HomePage! 
{% endblock %}

{% block body %}
    <style>
    </style>
    <div>


        {% if app.user%}
            <h1 class="text-center">
                Bienvenue 
                {{ app.user.email }}
            </h1>
        {% endif %}

    </div>


    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center col-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{# {{app.articles.name}} #}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Type Article</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center col-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Name Auters</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

        </div>
    
    </div>


{% endblock %}
